.navLink{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: white;
}

.drop-down ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
    
}

.drop-down ul li{
    position: relative;
    list-style: none;
    display: inline-block;
}

.drop-down ul li a{
    background-color: #003163;
    display: block;
    padding: 5px 15px 10px 15px;
    color: white;
    text-decoration: none;
    line-height: 60 px;
    font-size: 20px;
}

.drop-down ul li a:hover{
    background: #5c6977;

}

.drop-down ul ul{
    position: absolute;
    display: none;
}


.drop-down ul li:hover > ul{
    position: absolute;
    display: block;
}


.drop-down ul ul li{
    width: 180px;
    float: none;
    right: 100px;
    display: list-item;
    position: relative;
}
